img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #3244b0;
  --text-color: white;
  --terciary: fuchsia;
  --progress-bar-height: 128px;
  --progress-bar-padding: 24px;
  --progress-bar-offset: -1;
}

body {
  background-color: var(--primary);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  overflow-anchor: none;
}

::selection {
  background: var(--terciary);
}

.combobox {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 10em;
    margin: 0;
    text-align: center;
  }
  p {
    font-size: 1.4em;
  }
}

.logo {
  position: fixed;
  opacity: 0.1;
  top: -20%;
  left: -10%;
  transform: rotate(25deg);
  filter: grayscale(1);
  mix-blend-mode: multiply;
  z-index: -1;
  user-select: none;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


footer {
  text-align: center;
  margin-top: 6vh;
  margin-bottom: calc(5vh + var(--progress-bar-height));
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--terciary);
}

.link {
  display: inline-block;
  position: relative;
  z-index: 1;
  color: var(--text-color);
  transition: clip-path 350ms ease 0s;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  text-decoration: none;
  
  &--text {
    &::after {
      content: "";
      position: absolute;
      left: -2px;
      right: -2px;
      bottom: 0px;
      height: 2px;
      background-color: var(--terciary);
      border-radius: 2px;
      transition: transform 200ms ease 150ms, opacity 350ms ease 150ms;
    }
    
    &:hover {
      .link--hover {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    
      .link {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
      }

      &::after {
        opacity: 0;
        transform: translateY(-0.25em);
        transition: transform 200ms ease 0s, opacity 350ms ease 0s; 
      }
    }

  }

  &--hover {
    display: inline-block;
    position: absolute;
    z-index: 2;
    left: 0px;
    font-weight: inherit;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    transition: clip-path 350ms ease 0s;
    user-select: none;
  }
}


.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em 3em;
  flex: 1;
}


.card-preview {
/* Zig Zag demo */

  display: inline-flex;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='80'><polygon points='40 0,0 40,40 80,80 40' style='fill:fuchsia;fill-rule:nonzero;'></polygon></svg>");
  padding: 20px;
  background-size: 20px 20px;
  background-repeat: round round;
  position: relative;
  opacity: 1;

&:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  background: var(--terciary);
  z-index: -1;
}

  // border: 3px solid white;
  // position: relative;
  transition: filter 200ms ease;

  & > img {
    transition: filter 200ms ease;
    filter: brightness(1);
  }

  &:hover > img {
    filter: brightness(1.1);
    transition: filter 200ms ease;
  }
}

.register-vote-button {
  cursor: pointer;
  display: flex;
  border-radius: 24px;
  padding-right: 8px;
  padding-left: 8px;
  color: var(--primary);
  align-items: center;
  text-transform: uppercase;
  width: fit-content;
  background-color: var(--text-color);
  border: none;
  font-weight: 800;
  flex: 1;

  &.active {
    background-color: gold;
  }

  &:focus {
    outline: none;
  }

  &:not(:last-child) {
    margin-right: 12px;
  }
}

.voting {
  margin-top: 1em;
  display: flex;
}

.vote-progress {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  // height: calc(var(--progress-bar-height) + 2 * var(--progress-bar-padding));
  height: var(--progress-bar-height);
  z-index: 3;
  left: 0;
  right: 0;
  // bottom: calc(-2 *  var(--progress-bar-padding));
  bottom: calc(var(--progress-bar-offset) * (var(--progress-bar-height)));
  transition: bottom 300ms cubic-bezier(.86,1.84,.3,.68) 50ms;
  max-width: 60vw;
  background-color: var(--terciary);
  padding: var(--progress-bar-padding);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  display: flex;

  .vote-anchor {
    display: inline-block;
    background-color: var(--primary);
    color: white;
    padding: 4px 8px;
    height: fit-content;
    border-radius: 4px;
    align-self: center;
    text-transform: uppercase;
    text-align: center;
    flex: 0.3;
  }

  .candidate-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 12px;
    flex: 1;

    h4 {
      margin: 0;
    }

    img {
      grid-column: 1 / 2;
      grid-row: span 2;
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 700px){
  .container {
      padding: 0 4vw;
  }
  .gallery {
      grid-template-columns: 1fr;
  }
  :root {
    --progress-bar-height: calc(100vh/3);
  }

  .vote-progress {
    max-width: unset;
    flex-direction: column;

    .vote-anchor {
      width: 100%;
    }
  }
}

.glow {

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 1px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.border {
  background-color: rgba(173, 216, 230, 0.8);
  display: inline-flex;
  border: 8px solid green;
  border-image: repeating-linear-gradient(45deg,green,green 20px,white 20px,white 40px) 20;
  border-radius: 16px;
  position: relative;
  background-clip: padding-box;


  &::after {
      position: absolute;
      top: -4px; bottom: -4px;
      left: -4px; right: -4px;
      background: repeating-linear-gradient(45deg,green,green 20px,white 20px,white 40px);
      content: '';
      z-index: -1;
      border-radius: 16px;
  }
}

